
@using WebMatrix.Data;
@{
    ViewBag.Title = "ContaSaldo";
    var db = Database.Open("AvanBD");
    var selectQueryString = "SELECT * FROM Transacao ORDER BY data";
   // var selectQueryString2 = "SELECT * FROM Cliente ORDER BY id";
}
<div>
    <div>
        <h2 style="text-align:center">Saldo</h2>
        <div>@row.Saldo</div>
    </div>
    <div>
        <h2 style="text-align:center">Histórico da Conta</h2>
        <table class="table table-cardapio table-striped table-bordered" style="width:90%;border:solid 2px black">

            <tr style="background-color:#7f0000;color:white">
                <th>Data</th>
                <th>Valor(R$)</th>

            </tr>
            @foreach (var row in db.Query(selectQueryString))
            {
                <tr>
                    <td>@row.Data</td>
                    <td>@row.Valor</td>


                </tr>
            }
        </table>
    </div>
</div>
