
@{
    ViewBag.Title = "ContaSaldo";
}
<div>
    <div>
        <h2>Saldo</h2>
        <div>Valor(R$)</div>
        <div>Mil Doll</div>
    </div>
    <div>
        <h2>Histórico da Conta</h2>
        <table class="table table-cardapio table-striped table-bordered" style="width:90%;border:solid 2px black">

            <tr style="background-color:#7f0000;color:white">
                <th>Data</th>
                <th>Valor(R$)</th>
                <th>Tipo de Transação</th>
            </tr>
        </table>
    </div>
</div>
