
@{
    ViewBag.Title = "LoginCadastro";
}

<form class="login">
    <div class="login-title">Avan&Ccedil;ada</div>
    <div class="login-desc">Fa&ccedil;a Login</div>
    <div class="login-input">
        <label for="nome">Nome</label>
        <input id="nome" type="text" />
        <div class="trans-lab"></div>
    </div>
</form>