
@{
    ViewBag.Title = "Perfil";
}
<div>
    <h2>Perfil</h2>
    <img src="~/Imgs/user.jpg" class="user-icon" />
    <div>
        <div>Nome</div>
        <div>Aqui seria o nome</div>
    </div>
    <div>
        <div>Prontuário</div>
        <div>Aqui o pront</div>
    </div>
    <div>
        <div>E-mail</div>
        <div>Aqui o gmail</div>
    </div>
    <div>
        <div>Senha</div>
        <div>Password</div>
    </div>
</div>

