
@{
    ViewBag.Title = "Recarga";
}

<div class="sections">
    <div class="input-group mb-3">
        <div>
            <span class="input-group-text">Valor</span>
        </div>
        <input type="number" >
    </div>
    <div>
        <input type="radio" name="forma" value="credito"> Cartão de Crédito<br>
        <input type="radio" name="forma" value="debito"> Cartão de Débito<br>
    </div>
    <button type="submit" class="btn btn-primary">Efetuar Recarga</button>
</div>

