
@{
    ViewBag.Title = "Cardápio";
}

<div class="container h-card" style="text-align:center">
    <h1>Card&aacute;pio da teste semana</h1>
</div>
<table class="table table-cardapio table-striped table-bordered" style="width:90%;border:solid 2px black">

    <tr style="background-color:#7f0000;color:white">
        <th></th>
        <th>Segunda-feira</th>
        <th>Terça-feira</th>
        <th>Quarta-feira</th>
        <th>Quinta-feira</th>
        <th>Sexta-feira</th>
    </tr>
    <tr>
        <td>Bebida</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Prato Principal</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Sobremesa</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Salada</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Opção Vegetariana</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
