
@{
    ViewBag.Title = "Index";
}
<div class="column inic">
    <img src="~/Imgs/1.jpg" alt="Cachorro-quente">
    <img src="~/Imgs/2.jpeg" alt="Feijoada">
    <img src="~/Imgs/3.jpg" alt="Strogonoff">
    <img src="~/Imgs/4.jpg" alt="Tacos">
</div>
<div class="column Dest">
    <h2>Destaques</h2>
    <div>

    </div>
</div>

