
@{
    ViewBag.Title = "Consultar Saldo";
}

<h2>Consultar Saldo</h2>

<div class="geral">
    <div class="pesquisa">
        <div class="input-group-prepend">
            <span class="input-group-text">Nome</span>
        </div>
        <input type="text" name="prontuario">
        <input type="submit" name="pesquisar">
    </div>
    <div class="saldo">
        <div>Nome</div>
        <div>Saldo</div>
    </div>
</div>

