
@{
    ViewBag.Title = "LoginCadastro";
}

<div class="login">
    <div class="login-title">Avan&ccedil;ada</div>
    <div class="login-desc">
        <h4>Login</h4>
        <h5>Fa&ccedil;a login com seu email</h5>
    </div>
    <div class="login-input">
        <label for="login" class="log">Login</label>
        <input type="text" id="login" onclick="form()" />
        <div id="log"></div>
    </div>
</div>