
@{
    ViewBag.Title = "LoginCadastro";
}

<form class="login">
    <div class="login-title">Avan&ccedil;ada</div>
    <div class="login-desc">
        <h4>Login</h4>
        <h5>Fa&ccedil;a login com seu email</h5>
    </div>
    <div class="login-input">
        <label for="login" class="log-lab">Login</label>
        <input type="text" id="login" onclick="func('login')" onblur="func('login')" />
        <div class="trans-lab"></div>
    </div>
    <div class="login-input">
        <label for="senha" class="log-lab">Senha</label>
        <input type="password" id="senha" onclick="func('senha')" onblur="func('senha')" />
        <div class="trans-lab"></div>
    </div>
    <div class="log-buts">
        <a href="#" class="cad-but">Criar Conta</a>
        <button type="button" class="log-but" id="botao-entrar">Entrar</button>
    </div>
    <div id="status"></div>
</form>
<script src="@Url.Content("~/Scripts/Autenticacao.js")"></script>