<!DOCTYPE html>
<html>
<head>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="Bibliotecas/Content/avancada.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Bibliotecas/Content/bootstrap.min.css" />
    <script src="~/Bibliotecas/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Bibliotecas/Scripts/umd/popper.min.js"></script>
    <script src="~/Bibliotecas/Scripts/bootstrap.min.js"></script>
    <title>Avan&ccedil;ada - @ViewBag.Title</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background-color:#E1E2E1">
        <header class="mdl-layout__header" style="background-color:#7f0000">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title nav-avan">Avan&ccedil;ada</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="~/Sac/Index">SAC</a>
                    <a class="mdl-navigation__link" href="~/">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer" style="background-color:#870000">
            <span class="mdl-layout-title nav-avan">Avan&Ccedil;ada</span>
            <nav class="mdl-navigation">
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content sections">@RenderBody()</div>
        </main>
    </div>

</body>
</html>